// Specific CSS for your home-page
#myvideo
{
    position: fixed;
    min-width: 50%;
    min-height: 50%;
    max-width: 100%;
    z-index: -1;
}
div.img1
{
    height: 18px;
}
img#logo
{
    height:18px;
    width:98px;
    padding-left: 18px;
    padding-top: 16px;
    margin: 0 auto;

}
.nav
{
    padding-left:490px
}
.nav-right
{
    margin: 0 auto;
    float: right;
}

.nav a,.nav-right a
{
    padding:0px 13px 0px 0px;
    text-decoration: none;
    font-family: 'Gotham-Bold';
    font-weight: 400;
    color: white;
    line-height: 16px;
    font-size: 18px;
    transition: 0.2s;
}
.nav-right a.bar:after
{
    font-family: "FontAwesome";
    content: "\f0c9";
    color: #f0f0f0;
    z-index:999;
    font-size: 18px;
}
.nav a:hover,.nav-right a:hover
{
    color: rgba(161, 157, 157, 0.959);
}

.heading
{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Gotham-Book';
    font-size: 40px;
    color: #ffffff;
    line-height: 60px;
    padding: 68px 0px 0px 0px;
}
section
{
    padding-top: 38px;
    text-align: center;
    align-items: center;
}

section button
{
  background-color: rgba(0,0,0, 0.60);
  border: 0 solid black;
  outline: none;
  margin: 0 auto;
  font-size: 13px;
  padding: 12px 35px;
  color: rgba(255,255,255, 0.3);
  text-decoration: none;
  font-family: 'Gotham-Bold';
  transition: border-color 2s ease;
  color: white;
}

.btns a
{
    text-decoration: none;
    font-family: 'Gotham-Bold';
    color: white;
}
button:hover
{
    cursor: pointer;
    border: .4px solid  white;
}


div.section-footer,div.section-footer a
{
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    padding-top: 18px;
    font-weight: 700;
    font-family: 'Gotham-Book';
    color: white;
}


.search {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  padding: 2px 2px;
}

.search input {
   padding: 2px 2px;
   border-radius: 0;
}


.h1_text_pages {
  color: $driveaway;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  text-align: center;
}

.links_text_pages {
  color: $driveaway;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  text-align: center;
}

.links_text_pages a {
  color: $driveaway;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  text-align: center;
}

.links_text_pages a:hover {
  color: $driveaway;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  text-align: center;
  text-decoration: none;
  opacity: 0.5;
}

.links_text_pages_p {
  text-align: left;
  color: $driveaway;
  font-family: "Open Sans", "Helvetica", "sans-serif";
}
