<div>
    <!-- <video id="myvideo" preload="auto|metadata|none" autoplay loop src="https://www.tesla.com/ns_videos/hp_2019/experience-hero-desktop.mp4">
    </video> -->
    <%= video_tag("video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, id: "myvideo" ) %>

    <div class="img1">
        <img src="Images/logo.svg" alt="" id="logo">
    </div>

    <nav>
      <span class="nav">
          <%= link_to "CARS", cars_path %>
        <span class="nav-right">
        <%= link_to "SIGN IN", new_user_session_path %>
        <%= link_to "SIGN UP", new_user_registration_path %>
        </span>
    </nav>


    <section class="heading">
      <center> Quickest Booking.<br>
            Longest Range. The Safest Cars</center>
        <div class="search">
          <button>Search</button>
          <input type="search" name="">
        </div>
    </section>

    <div class="section-footer">
        <center class= "footer-cards">
            <div class="number-of-models">
              <p class="number-home"> 3</p>
              <p class="name-home"> Owneres </p>
            </div>
            <div class="number-of-models">
              <p class="number-home"> 0 </p>
              <p class="name-home"> Lenders  </p>
            </div>
            <div class="number-of-models">
              <p class="number-home"> 3 </p>
              <p class="name-home"> Happines </p>
            </div>
          </div>
        </center>
    </div>
