.car-container-top {
  display: flex;
  padding: 24px 0;
}

.car-container-booking {
  text-align: center;
}

.middle-container {
  display: flex;
  justify-content: space-between;
  padding: 27px 0;
  position: relative;
}

.description-container {
  margin: auto 0;
}

.text-inline {
  display: inline-block;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  margin-bottom: 24px;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: black;
}

.container-bottom {

}

.review-container {
  display: flex;
  background-color: #E8E8E8;
  margin-bottom: 24px;
}

.review-rating {
  font-size: 50px;
  font-weight: bold;
  padding: 24px;
  color: #8361C3;
}

.review-content {
  margin: auto 0;
  padding: 24px;
}


// .addstyle {
//   text-align: center;
// }

// .fontf {
//   font-family: "Trebuchet MS", Verdana, sans-serif;
//   color: #353946;
// }


.card-image {
  border-radius: 5%;
}


.card-product {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  margin: 0px;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding: 16px;
}

.card-product .card-product-infos a {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  color: #8361C3;
  text-decoration: none;
}

.card-product .card-product-infos a:hover {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  color: #8361C3;
  text-decoration: none;
  opacity: 0.5;
}
