.card-category {
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.card-image {
  width: 200px;
  border: 10px;
}

.main-div {
  display: flex;
}
