.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  list-decoration: none;
  color: #8361C3;
  background-color: white;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #8361C3;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.5;
}
.footer .fa-heart {
  color: #D23333;
}
