.my-navbar {
  height: 80px;
  width: 100%;
}

.topnav {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// .bottomnav {
//   height: 50%;
//   display: flex;
//   flex-direction: column;
// }

.links {
  display: flex;
  justify-content: flex-end;
  min-width: 33.3%;
}

.name {
  min-width: 33.3%;
}

.logo {
  min-width: 33.3%;
}

.nav-link {
  margin-left: 1%;
}
