.navbar-lewagon {
  justify-content: space-between;
  background: white;
  color: #8361C3;
  padding: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.add-car {
  list-decoration: none;
}

.add-car a {
  color: rgba(0,0,0,0.5);
  margin: 0 5px;
  text-decoration: none;
  color: #8361C3;
}

.add-car a:hover {
  color: rgba(0,0,0,0.8)
}
