@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css?family=Lato');


// STYLES

// fonts

$font-primary: 'Montserrat','Arial',sans-serif;
$font-body: 'Lato','Arial',sans-serif;

// colors
$color-primary: #8D6CC7;
$color-primary-dark: darken($color-primary,3%);
$color-light-gray: #DAE2F1;

// GLOBAL

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html,
body{
  // background: #DCEAED;
  height: 100%;
}

.with-background{
  height: 100%;
  background:
    linear-gradient(
      rgba(0, 0, 0, .7),
      rgba(0, 0, 0, .7)
    ),
    url(https://images.pexels.com/photos/2533092/pexels-photo-2533092.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
}

.container-spacial {
  height: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formh1{
  font-family: $font-primary;
  color: $color-primary;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 32px;
}

// FORM

.form-background{
  background: #fff;
  width: 420px;
  border-radius: 10px;
  padding: 32px;
  // align-self: center;
-webkit-box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
-moz-box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
}

form{
  text-transform: capitalize;
  font-family: $font-body;
  text-align: center;
}

input{
  width: 100%;
  margin-bottom: 15px;
  border-radius: 30px;
  border: 1px solid $color-light-gray;
  padding: 15px 20px;
  color:#8498AF;
  font-size: .9rem;
  transition: .4s;

    &:last-child{
    margin-bottom: 0;
  }
  &:focus{
    border-color: $color-primary;
    outline: none;
  }
}

[type="submit"]{
  background: $color-primary;
  border-radius: 30px;
  padding: 16px 30px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-size: .8rem;
  transition: .4s;
  font-family: $font-primary;
  border: none;
  box-shadow: none;
  margin: 0;

    &:hover{
    background: $color-primary-dark;
    cursor: pointer;
  }
}

.sign-up-divider{
  font-family: $font-primary;
  text-align: center;
  color: #C4C8D4;
  font-size: .8rem;
  letter-spacing: .5px;
  padding: 24px 0;

  &::before{
  content: '';
  display: inline-block;
  width: 27%;
  margin-right: 5%;
  height: 1px;
  background: $color-light-gray;
  vertical-align: middle;
}

  &::after{
    content: '';
    display: inline-block;
    width: 27%;
    margin-left: 5%;
    height: 1px;
    background: $color-light-gray;
    vertical-align: middle;
  }

}

// Social Icons

.social-media-icons{
  text-align: center;
  color: #fff;

    & li{
    margin-right: 10px;
    list-style: none;
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #fff;
    font-size: 1rem;
    line-height: .8rem;
    transition: .3s;
    display: relative;
    padding-top: 15px;
  }

  & li a{
    color: #fff;
    vertical-align: middle;
    text-align: center;
    top: 10px;
  }

}

li.google{
  background: #EA5859;
  &:hover{
  background: darken(#EA5859,6%);
  cursor: pointer;
  }
}

li.facebook{
  background: #527ED5;
  &:hover{
  background: darken(#527ED5,6%);
  cursor: pointer;
  }
}

li.twitter{
  background: #61BDED;
  &:hover{
  background: darken(#61BDED,6%);
  cursor: pointer;
  }
}

// LOGIN

.login{
  text-align: center;
  margin-top: 24px;
  font-size: .8rem;
  font-family: $font-primary;
  color: white;

   & a{
    margin-left: 4px;
    text-decoration: none;
    color: color-primary;
    transition: .3s;
  }
  & a:hover{
    color: $color-primary-dark;
  }
}



