<div>
    <video id="myvideo" preload="auto|metadata|none" autoplay loop src="https://www.tesla.com/ns_videos/hp_2019/experience-hero-desktop.mp4">
    </video>

    <div class="img1">
        <img src="Images/logo.svg" alt="" id="logo">
    </div>

    <nav>
      <span class="nav">
          <a href="">PAGE 1</a>
          <a href="">PAGE 2</a>
          <a href="">PAGE 3</a>
          <a href="">PAGE 3</a>
        <span class="nav-right">
            <a href="">SIGN IN</a>
            <a href="">SIGN UP</a>&nbsp;&nbsp;&nbsp;
        </span>
    </nav>


    <section class="heading">
      <center> Quickest Acceleration.<br>
            Longest Range. The Safest Cars</center>
        <div class="search">
          <button>Search</button>
          <input type="search" name="">
        </div>
    </section>

    <div class="section-footer ">
        <center> <a href="">GET THE NEWSLETTER▸</a> </center>
    </div>
<div>
