
  var newReview = '<div class="review-container"> <div class="review-rating"> <%= @review.rating %></div> <div class="review-content"> "<%= @review.content %>"</div></div>'
  var reviews = document.querySelector('.container-bottom')
  reviews.insertAdjacentHTML('beforeend', newReview)

  var inputBox = document.querySelector('.review-rating')
  inputBox.value = '';

  var inputBox = document.guerySelector('.review-content')
  inputBox.value = '';

